@font-face {
    font-family: jose;
    src: url(fonts/JosefinSans-Regular.ttf);
  }

  @font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
  }

  @font-face {
    font-family: amargo;
    src: url(fonts/Amagro.ttf);
  }

  @font-face {
    font-family: biter;
    src: url(fonts/Bitter-Bold.otf);
  }

  @font-face {
    font-family: biter-regular;
    src: url(fonts/Bitter-Regular.otf);
  }

  @font-face {
    font-family: inter;
    src: url(fonts/Inter-Bold.otf);
  }

  @font-face {
    font-family: inter-thin;
    src: url(fonts/Inter-Thin.otf);
  }

body {
    margin: 0;
    padding: 0;
    /* display: flex; */
    width: 100%;
    background-color: #e1e1e1;
    font-family: inter;
}
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --bg: #f0f0f0;
    --gray: #e1e1e1;
    --green: #79a878;
    --text: #202020;
    --darker-green: #5aa15c;
    --colorMain: #c0c0c0;
    --brShadow: -6px 6px 15px rgba(0,0,0,0.5);
    --tlShadow: 6px -6px 15px rgba(255,255,255,0.8);
  }

.text-shadow {
    text-shadow: -1px -1px var(--bg),0 -1px var(--bg),1px -1px var(--bg),-1px 0 var(--bg),1px 0 var(--bg),-1px 1px var(--bg),0 1px var(--bg),1px 1px var(--bg),-2px -2px var(--bg),0 -2px var(--bg),2px -2px var(--bg),-2px 0 var(--bg),2px 0 var(--bg),-2px 2px var(--bg),0 2px var(--bg),2px 2px var(--bg),-3px -3px var(--bg),0 -3px var(--bg),3px -3px var(--bg),-3px 0 var(--bg),3px 0 var(--bg),-3px 3px var(--bg),0 3px var(--bg),3px 3px var(--bg),-4px -4px var(--bg),0 -4px var(--bg),4px -4px var(--bg),-4px 0 var(--bg),4px 0 var(--bg),-4px 4px var(--bg),0 4px var(--bg),4px 4px var(--bg)
}

.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 3rem;
}

.title-hi {
    font-size: 20px;
    font-family: inter;
    color: #202020;
    line-height: 3.5rem;
}
.title-name {
    font-size: 68px;
    font-family: biter;
    color: #38643a;
    line-height: 4.5rem;
}

.title-job {
    font-size: 58px;
    font-family: biter;
    color: var(--green);
    line-height: 4.5rem;

}

.eye {
    margin: auto;
    /*   background:#ccc; */
}


.pupil {
    position: relative;
    /*   transform:  rotate(390deg); */
    /*   transform-origin: 20px center; */
}

.header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.frosted {
    background-color: rgb(255 255 255 / 50%);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    border-radius: 29px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--green);
    overflow: hidden;
}

.container-wrapper {
    /* height: 100vh; */

}

.container {

    /* background-image: url("./back.jpg"); */

    /* background: linear-gradient(145deg, #cfeffd, #aec9d4);
    box-shadow:  5px 5px 8px #acc6d2,
                 -5px -5px 8px #d6f8ff; */
    margin: 25px;
    height: 94dvh;
}

.page-header-scroll {
    position: absolute;
    bottom: -150px;
    left: 0;
    text-transform: uppercase;
    color: #919795;
    font-size: 1.2rem;
    font-family: inter-thin;

    /* transform: translateX(-50%); */
}

.page-header-scroll:after {
    content: "";
    transform-origin: bottom center;
    position: absolute;
    width: 1px;
    height: 50vh;
    left: 60px;
    top: calc(100% + 35px);
    background: var(--green);
    opacity: .45;
    animation: vLineIn 1s ease-in-out 1.5s backwards;
}

@keyframes vLineIn {
    0% {
        transform: scaleY(0);
    }
}
.page-header-scroll>span {
    animation: reveal 1s ease-out 1.5s backwards;
}

@keyframes reveal {
    0% {
        opacity: 0;
        transform: translateY(8px);
    }
}

.page-header-scroll>span span {
    margin: 0 1px;
    display: inline-block;
    animation: scrollBob 8s ease-in-out infinite;
}

.page-header-scroll>span span:first-child {
    animation-delay: 3.0725s;
}
.page-header-scroll>span span:nth-child(2) {
    animation-delay: 3.145s;
}
.page-header-scroll>span span:nth-child(3) {
    animation-delay: 3.2175s;
}
.page-header-scroll>span span:nth-child(4) {
    animation-delay: 3.29s;
}
.page-header-scroll>span span:nth-child(5) {
    animation-delay: 3.3625s;
}
.page-header-scroll>span span:nth-child(6) {
    animation-delay: 3.435s;
}

@keyframes scrollBob {
    0%,10% {
        transform: none;
        opacity: 1;
        color: #919795
    }

    1%,8% {
        transform: translateY(-5px);
        color: #66c569
    }

    4% {
        transform: translateY(6px);
        opacity: 1;
        color: #919795
    }
}

.face-bg {
    position: absolute;
    right: -450px;
    top: 0;
    opacity: 0.4;
    z-index: -1;
}

.face-bg img{
    height: 100dvh;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
  letter-spacing: 0.04em;
}
/* body { 
  font-family: 'Montserrat', sans-serif;
  background-color: #FEFEFE;
  overflow-x: hidden;
} */
.spacer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: column;
}

.talk-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 28px 0;
    font-size: 1.2rem;
    text-shadow: var(--brShadow), var(--tlShadow);
}

.talk-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 28px 0;
    font-size: 1.2rem;
    text-shadow: var(--brShadow), var(--tlShadow);
}

h1 {
  font-size: 3rem;
  color: #000;
}

.section {
  height: auto;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0;
  overflow-x: hidden;
}
.portfolio {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  background-color: #e1e1e1;
  background-image: url("./tile2.png");
  overflow: hidden;
  align-items: center;
  border-bottom: 1px solid var(--green);
  /* cursor: none; */

}
.portfolio_title {
    font-family: amargo;
  position: absolute;
  top: 0;
  left: -15rem;
  font-size: 24rem;
  letter-spacing: 0;
  -webkit-text-stroke-color: var(--green);
  display: inline-block;
  transform: translate(-600px, 0px);
}
.text-stroke {
    -webkit-text-fill-color: #e1e1e1;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--green);
}
.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
.panel {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  padding: 5rem 11rem 6rem 11rem;
  background-color: transparent;
  overflow: hidden;
}
.panel_item {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.panel_img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.about-section {
    height: 100dvh;
    padding: 104px;
    position: relative;
}

.about-content {
    line-height: 1.8rem;
    font-size: 1rem;
    font-family: inter;
}

.about-title h1 {
    font-family: biter;
    font-size: 5rem;
    margin: 0;
}

.about-wrapper {
    grid-column-gap: 2rem;
    grid-row-gap: 0rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
    grid-auto-columns: 1fr;
    align-content: center;
    display: grid;
    height: 100%;
    justify-content: space-around;
    align-items: start;
    justify-items: center;
    padding: 7rem;
}



.shapes {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* left: 0; */
    /* top: 121px; */
    z-index: -1;
    opacity: 0.4;
}



.content {
    position: absolute;
    top: -228px;
    left: -117px;
    width: 120%;
    height: 120%;
}

.band {
    position: relative;
    margin: 0;
    height: 6.8rem;
    font-weight: 600;
    color: #ebebeb47;
    font-size: 135px;
    letter-spacing: 0px;
    line-height: 6.8rem;
    
}

.names {
    display: block;
    position: relative;
    width: 150%;
    height: 120px;
    overflow: hidden;
}

.name {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
}

.name--blue {
    color: var(--gray);
    position: absolute;
    top: 8px;
}




.card-wrapper {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(6px);
    border: 1px solid var(--green);
    color: #202020;
    border-radius: 25px;
    padding: 98px 92px;
}

.card {

}

.cursor-dot {
    background-color: var(--text);
    color: var(--bg);
    border-radius: 50%;
    width: 7px;
    height: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    position: absolute;
    z-index: 1000;
    user-select: none;
    pointer-events: none;
}

.cursor .active {
        opacity: 0.5;
        transform: scale(0);
    }

.cursor .hovered {
        opacity: 0.08;
    }


.card .card-title {
    font-family: biter;
    /* font-size: 3rem; */
    padding-bottom: 25px;
    /* transform: rotate(-90deg); */

}

.cursor-wrapper {
    background-color: var(--darker-green);
    color: var(--bg);
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    position: absolute;
    z-index: 1000;
    user-select: none;
    pointer-events: none;

}

.cursor-wrapper p {
    margin: 0;
    line-height: 2rem;
}

.title-left .company-name {
    color: var(--text);
    font-size: 3rem;
}

.title-left span {
    color: var(--green);
    font-size: 1.3rem;
}

.title-right {
    color: var(--green);
    font-size: 1.3rem;
}

.card .card-body {
    line-height: 2.3rem;
    font-size: 1.2rem;
    font-family: inter;
}

.card-body ul {
    padding-left: 0
}

.card-body li {
    list-style: none;
}

.badge {
    display: inline-block;
    border: 1px solid var(--green);
    color: var(--green);
    border-radius: 25px;
    padding: 0 1rem;
    font-size:1rem;
    margin-right: 10px;
}

.marquee-wrapper {
    overflow: hidden;
    font-family: inter, sans-serif;
    font-weight: 600;
    font-size: 34px;
    text-transform: uppercase;
    /* background-color: #FFDC00; */
    background-color: var(--darker-green);
    /* text-transform: uppercase;
    display: flex;
    overflow: hidden;
    white-space: nowrap;

    background: #e1e1e1;
    color: #202020;
    padding: 1px;
    font-size: 27px;
    border: 1px solid var(--green);
    animation: marquee 3s linear infinite; */
}

.marquee-line {
    flex-shrink: 0;
    margin: 0;
    padding: 10px 15px;
    /* min-width: 100%; */
    white-space: nowrap;
    animation: marquee 3s linear infinite;

}

.marquee {
    display: flex;

}
@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.contact p {
    font-size: 7rem;
    font-family: bitter;
    text-shadow: var(--brShadow), var(--tlShadow);
    margin-bottom: 1.8rem;
}
.contact span {
    text-shadow: var(--brShadow), var(--tlShadow);
    margin-bottom: 0.7rem;
    font-size: 1.4rem;
}

/* scroll animation for text */

.rolling, .rolling span {
  height: 13.5em;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.rolling span {
  list-style-type: none;
  margin: 0px 0 1px 0;
  height: 1em !important;
  padding: 0px 0 0px 0;
  font-size: 3em;
  text-transform: uppercase;
  width: 100%;
}

.rolling {
  animation-name: titleflip;
  animation: titleflip 5s ease-in-out infinite;
    }

@keyframes titleflip {
  0%, 20% {
  transform: translate(0px, -12.50em);
  }
  20%,
  40% {
 transform: translate(0px, -9.375em);
  }
  40%,
  60% {
    transform: translate(0px, -6.44em);
  }
  60%,
  80% {
  transform: translate(0px, -3.44em);
  }
  80%,
  100% {
  transform: translate(0px, -0.315em);
  }
  100%,
  0% {
    transform: translate(0px, -12.50em);
  }
}

/* end of animation */
/* 
.contact span:first-child {

}

.contact span:nth-child(2) {

    
}
.contact span:nth-child(3) {

}

.text-shadow-green {
    text-shadow: -1px -1px var(--green),0 -1px var(--green),1px -1px var(--green),-1px 0 var(--green),1px 0 var(--green),-1px 1px var(--green),0 1px var(--green),1px 1px var(--green),-2px -2px var(--green),0 -2px var(--green),2px -2px var(--green),-2px 0 var(--green),2px 0 var(--green),-2px 2px var(--green),0 2px var(--green),2px 2px var(--green),-3px -3px var(--green),0 -3px var(--green),3px -3px var(--green),-3px 0 var(--green),3px 0 var(--green),-3px 3px var(--green),0 3px var(--green),3px 3px var(--green),-4px -4px var(--green),0 -4px var(--green),4px -4px var(--green),-4px 0 var(--green),4px 0 var(--green),-4px 4px var(--green),0 4px var(--green),4px 4px var(--green)
}

@keyframes scrollBob {
    0%,10% {
        transform: none;
        opacity: 1;
        color: #919795
    }

    1%,8% {
        transform: translateY(-5px);
        color: #66c569
    }

    4% {
        transform: translateY(6px);
        opacity: 1;
        color: #919795
    }
}

.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 13px #fff,
      0 0 18px  var(--green),
      0 0 25px  var(--green),
      0 0 30px  var(--green),
      0 0 40px  var(--green),
      0 0 50px  var(--green);
  }
 */




  
  .contact p {
    color: var(--text);
    font-size: 100px;
  }

  .contact p:before {
    content: attr(data-heading);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: linear-gradient(45deg, rgba(255,255,255,0) 45%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0) 55%,rgba(255,255,255,0) 100%);
    -webkit-background-clip: text;
    color: transparent;
    mix-blend-mode: screen;
    animation: shine 1s infinite;
    background-size: 200%;
    text-shadow: 
      2px 2px 10px rgba(#000, 0.2),
      -2px 2px 10px rgba(#000, 0.2),
      -2px -2px 10px rgba(#000, 0.2);
  }

  @keyframes shine {
    0% {background-position: -100%;}
    100% {background-position: 100%;}
  }
  

  
  @keyframes background-text-animation {
    0%{
      background-position: left 0px top 50%;
    }
    50%{
      background-position: left 1500px top 50%;
    }
    100%{
      background-position: left 0px top 50%;
    }
  }


/* Screen larger than 600px? 2 column */
@media (max-width: 1000px) {
    .about-wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        padding: 0;
    }
}

@media (max-width: 1300px) and (min-width: 1000px) {
    .about-wrapper {
        grid-gap: 2rem;
        padding: 0;
    }
    .about-title h1 {
        font-size: 4rem;
    }
}

@media (max-width: 1000px) {
    .face-wraper svg {
        height: 330px;
    }
    .intro {
        justify-content: center;
        align-items: center;
    }
    .frosted {
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding-top: 50px;
    }
    .title-hi {
        font-size: 1rem;
    }
    .title-name {
        font-size: 4rem;
    }
    .title-job {
        font-size: 3rem;
    }
    .page-header-scroll {
        bottom: -46px;
        left: 276px;
    }
    .page-header-scroll:after {
        top: calc(100% + 15px );
    }
}

.text {
    color: var(--colorMain);
    font-size: 8em;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    text-shadow: var(--brShadow), 
                 var(--tlShadow);
    position: relative;
    
    
  }