body{
    margin:0;
    padding:0;
    display: flex;
    width: 100%;
    height:100vh;
  }
  .eye{
    margin: auto;
  /*   background:#ccc; */
  }
  
  
  .pupil {
    position:relative;
  /*   transform:  rotate(390deg); */
  /*   transform-origin: 20px center; */
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
  