@font-face {
    font-family: jose;
    src: url(fonts/JosefinSans-Regular.ttf);
  }

  @font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
  }

  @font-face {
    font-family: amargo;
    src: url(fonts/Amagro.ttf);
  }

body {
    margin: 0;
    padding: 0;
    /* display: flex; */
    width: 100%;
    background-color: #e1e1e1;
}
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --bg: #f0f0f0;
    --green: #79a878;
  }

.text-shadow {
    text-shadow: -1px -1px var(--bg),0 -1px var(--bg),1px -1px var(--bg),-1px 0 var(--bg),1px 0 var(--bg),-1px 1px var(--bg),0 1px var(--bg),1px 1px var(--bg),-2px -2px var(--bg),0 -2px var(--bg),2px -2px var(--bg),-2px 0 var(--bg),2px 0 var(--bg),-2px 2px var(--bg),0 2px var(--bg),2px 2px var(--bg),-3px -3px var(--bg),0 -3px var(--bg),3px -3px var(--bg),-3px 0 var(--bg),3px 0 var(--bg),-3px 3px var(--bg),0 3px var(--bg),3px 3px var(--bg),-4px -4px var(--bg),0 -4px var(--bg),4px -4px var(--bg),-4px 0 var(--bg),4px 0 var(--bg),-4px 4px var(--bg),0 4px var(--bg),4px 4px var(--bg)
}

.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 3rem;
}

.title-hi {
    font-size: 16px;
    font-family: roboto;
    color: #202020;
}
.title-name {
    font-size: 48px;
    font-family: jose;
    color: #38643a;
}

.title-job {
    font-size: 48px;
    font-family: jose;
    color: var(--green);
}

.eye {
    margin: auto;
    /*   background:#ccc; */
}


.pupil {
    position: relative;
    /*   transform:  rotate(390deg); */
    /*   transform-origin: 20px center; */
}

.header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.frosted {
    background-color: rgb(255 255 255 / 50%);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    border-radius: 29px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--green);
    overflow: hidden;
}

.container-wrapper {
    /* height: 100vh; */

}

.container {

    /* background-image: url("./back.jpg"); */

    /* background: linear-gradient(145deg, #cfeffd, #aec9d4);
    box-shadow:  5px 5px 8px #acc6d2,
                 -5px -5px 8px #d6f8ff; */
    margin: 25px;
    height: 94dvh;
}

.page-header-scroll {
    position: absolute;
    bottom: -150px;
    left: 0;
    text-transform: uppercase;
    color: #919795;
    font-size: 1.2rem;
    /* transform: translateX(-50%); */
}

.page-header-scroll>span {
    animation: reveal 1s ease-out 1.5s backwards;
}

@keyframes reveal {
    0% {
        opacity: 0;
        transform: translateY(8px);
    }
}

.page-header-scroll>span span {
    margin: 0 1px;
    display: inline-block;
    animation: scrollBob 8s ease-in-out infinite;
}

.page-header-scroll>span span:first-child {
    animation-delay: 3.0725s;
}
.page-header-scroll>span span:nth-child(2) {
    animation-delay: 3.145s;
}
.page-header-scroll>span span:nth-child(3) {
    animation-delay: 3.2175s;
}
.page-header-scroll>span span:nth-child(4) {
    animation-delay: 3.29s;
}
.page-header-scroll>span span:nth-child(5) {
    animation-delay: 3.3625s;
}
.page-header-scroll>span span:nth-child(6) {
    animation-delay: 3.435s;
}

@keyframes scrollBob {
    0%,10% {
        transform: none;
        opacity: 1;
        color: #919795
    }

    1%,8% {
        transform: translateY(-5px);
        color: #66c569
    }

    4% {
        transform: translateY(6px);
        opacity: 1;
        color: #919795
    }
}

.face-bg {
    position: absolute;
    right: -450px;
    top: 0;
    opacity: 0.4;
    z-index: -1;
}

.face-bg img{
    height: 100dvh;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
  letter-spacing: 0.04em;
}
/* body { 
  font-family: 'Montserrat', sans-serif;
  background-color: #FEFEFE;
  overflow-x: hidden;
} */
.spacer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 3rem;
  color: #000;
}
.section {
  height: auto;
  width: 100%;
  position: relative;
  padding: 0;
  overflow-x: hidden;
}
.portfolio {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  background-color: #e1e1e1;
  background-image: url("./tile2.png");
  overflow: hidden;
  align-items: center;
  border-bottom: 1px solid var(--green);
}
.portfolio_title {
    font-family: amargo;
  position: absolute;
  top: 0;
  left: -15rem;
  font-size: 24rem;
  letter-spacing: 0;
  -webkit-text-stroke-color: var(--green);
  display: inline-block;
  transform: translate(-600px, 0px);
}
.text-stroke {
    -webkit-text-fill-color: #e1e1e1;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--green);
}
.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
.panel {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  padding: 10rem 7rem 10rem 7rem;
  background-color: transparent;
  overflow: hidden;
}
.panel_item {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.panel_img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.about-section {
    height: 100dvh;
    padding: 104px;
}

.about-wrapper {
    grid-column-gap: 2rem;
    grid-row-gap: 0rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
    grid-auto-columns: 1fr;
    align-content: center;
    display: grid;
    height: 100%;
    
}

.card-wrapper {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(6px);
    border: 1px solid var(--green);
    color: #202020;
    border-radius: 25px;
    padding: 98px 92px;
}

.card {

}

.card .card-title {
    font-family: jose;
    font-size: 40px;
    padding-bottom: 25px;
    /* transform: rotate(-90deg); */

}

.card .card-body {
    line-height: 23px;
    font-size: 1.6rem;
    font-family: roboto;
}

.marquee-wrapper {
    overflow: hidden;
    font-family: "Pridi", sans-serif;
    font-weight: 600;
    font-size: 34px;
    text-transform: uppercase;
    /* background-color: #FFDC00; */
    background-color: #5aa15c;
    /* text-transform: uppercase;
    display: flex;
    overflow: hidden;
    white-space: nowrap;

    background: #e1e1e1;
    color: #202020;
    padding: 1px;
    font-size: 27px;
    border: 1px solid var(--green);
    animation: marquee 3s linear infinite; */
}

.marquee-line {
    flex-shrink: 0;
    margin: 0;
    padding: 10px 15px;
    /* min-width: 100%; */
    white-space: nowrap;
    animation: marquee 3s linear infinite;

}

.marquee {
    display: flex;

}
@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}